# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.png
*.jpg
*.jpeg
*.gif
*.docx
*.txt
Social Media/
Website Concept/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local


# docs
*.txt
*.doc
docs/development/Web Content.md
docs/development/Web Specification.md
!docs/development/README.md

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts 